* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: url("./img/garden.png");
  background-size: cover;
}

.garden {
  display: flex;
  width: 100%;
}

.holes {
  display: grid;
  width: 92rem;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 20rem;
}

.hole {
  width: 18rem;
  height: 12rem;
  background-image: url('./img/default.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  
}

.hole.one,
.hole.two,
.hole.three {
  animation-name: change-background;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

.hole.one {
  animation-delay: 3s;
}

.hole.two {
  animation-delay: 6s;
}

.hole.three {
  animation-delay: 9s;
}

@keyframes change-background {
  0% { background-image: url('./img/default.png'); } 
  16% { background-image: url('./img/appearing1.png'); } 
  32% { background-image: url('./img/appearing2.png'); }
  48% { background-image: url('./img/appearing3.png'); }
  64% { background-image: url('./img/disappearing1.png'); }
  80% { background-image: url('./img/disappearing2.png'); }
  100% { background-image: url('./img/default.png'); }
}
